bootstrap_server=kafka:9092
raw_topic_name=raw_events
raw_producer_client_id=raw_producer_client
processing_topic_name=processing_data
processor_group_id=processing_service
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=1234